<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" id="Keyword" placeholder="Mã nhân viên,tên nhân viên ...."/>
                <button class="btn btn-primary btn-xs" id="Search" style="position: absolute; top: 1.5px;right: 15px">
                    <i class="glyphicon glyphicon-search"></i>
                    Tìm Kiếm
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="grdEmployees"></div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" id="btnSaveAdd">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Chọn
                </button>
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/hrm/JsAction/Praise/selectEmployee.js"></script>
