@{
    ViewBag.Title = "Bảng báo cáo tháng ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .k-radio:checked + .k-radio-label:after {
        top: 7px;
        margin-left: -1px;
    }

    .k-radio-label:before {
        top: 5px;
    }

    .k-grid-header th.k-header {
        text-align: center;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box-action">
                    <div class="row padding-bottom-0">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" id="MounthSearch" class="form-control" value="@DateTime.Now.ToString("MM yyyy")" style="height: 28px;"/>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary btn-sm" id="btnSearchDate">
                                        <i class="fa fa-search"></i>
                                        Tìm kiếm
                                    </button>
                                    <button class="btn btn-primary btn-sm" id="btnPrint">
                                        <i class="fa fa-print"></i>
                                        In báo cáo
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="grdMain" event-dbclick="1"></div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    tr.k-group-footer:last-child {
        display: none;
    }
</style>
@section scripts
{
    <script type="text/javascript">
        var calcType = @Html.Raw(Json.Encode(ViewBag.CalcType));
        var dateMonth = '@DateTime.Now.ToString("MM/yyyy")';
    </script>
    <script src="~/Areas/Hrm/JsAction/Kpi/MonthReportEmployee/index.js"></script>
}
