@{
    ViewBag.Title = "Công việc được giao ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <input type="text" value="@DateTime.Now.AddMonths(-2).ToString("dd/MM/yyy")" class="form-control" id="FromDateSearch" style="height: 25px; " />
            </div>
            <div class="col-md-2">
                <input type="text" value="@DateTime.Now.ToString("dd/MM/yyy")" class="form-control" id="ToDateSearch" style="height: 25px;"/>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-sm" id="btnSearchDate">
                    <i class="glyphicon glyphicon-search"></i>
                    Tìm kiếm
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-sm" id="btnEdit">
                    <i class="fa fa-eye"></i>
                    Chi tiết
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="grdMain" event-dbclick="1"></div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var statusAssignWorks = @Html.Raw(Json.Encode(ViewBag.WorkDetailStatusEnum));

    </script>
<script src="~/Areas/Hrm/JsAction/Kpi/ViewAssignWork/index.js"></script>
}
