@{
    ViewBag.Title = "Bảng báo cáo tuần ";
    var fromDate = (DateTime) ViewBag.FromDate;
    var toDate = (DateTime)ViewBag.ToDate;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .k-radio:checked + .k-radio-label:after {
        top: 7px;
        margin-left: -1px;
    }

    .k-radio-label:before {
        top: 5px;
    }

    .k-grid-header th.k-header {
        text-align: center;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box-action">
                    <div class="row padding-bottom-0">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    <input type="text" id="FromDateSearch" class="form-control" value="@fromDate" style="height: 28px;" />
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="ToDateSearch" class="form-control" value="@toDate" style="height: 28px;"/>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary btn-sm" id="btnSearchDate">
                                        <i class="fa fa-search"></i>
                                        Tìm kiếm
                                    </button>
                                    <button class="btn btn-primary btn-sm" id="btnPrint">
                                        <i class="fa fa-print"></i>
                                        In báo cáo
                                    </button>
                                </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="grdMain" event-dbclick="1"></div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Areas/Hrm/JsAction/Kpi/WeekReport/index.js"></script>
}
