
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="grdMainScheduler" event-dbclick="1"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var workDetails =  @Html.Raw(Json.Encode(Model));
    var statusWorkPlanDetail =  @Html.Raw(Json.Encode(ViewBag.WorkDetailStatusEnum));
    var statusWorkDetail = @Html.Raw(Json.Encode(ViewBag.StatusWorkDetail));
    $("#grdMainScheduler").kendoGrid({
        dataSource: {
            data : workDetails,
            schema: {
                model: {
                    id: "WorkDetailId",
                    fields: {
                        FromDate: { type: 'date' },
                        ToDate: { type: 'date' },
                        Status: { type: 'number' },
                        WorkType: { type: 'number' }
                    }
                }
            },
            pageSize: 1000,
            serverPaging: false,
            serverFiltering: false
        },
        height: 400,
        filterable: false,
        sortable: true,
        pageable: false,
        selectable: 'row',
        columns: [
            {
                field: "WorkType",
                title: "Loại Công Việc",
                width: 140,
                values: statusWorkDetail
            },
            {
                field: "TaskCode",
                title: "Mã Công việc",
                width: 120
            },
            {
                field: "TaskName",
                title: "Tên Công việc",
                width: 260
            },
            {
                field: "UsefulHours",
                title: "Giờ hữu ích",
                width: 120
            },
            {
                field: "Quantity",
                title: "Số lượng",
                width: 100
            },
            {
                field: "FromDate",
                title: "Ngày bắt đầu",
                format: "{0:dd/MM/yyyy}",
                width: 120

            },
            {
                field: "FisnishDateForMat",
                title: "Ngày hoàn thành thực tế",
                width: 200
            },
            {
                field: "ToDate",
                title: "Ngày hoàn thành",
                format: "{0:dd/MM/yyyy}",
                width: 140
            },
            {
                field: "FileConfirm",
                title: "File xác nhận",
                width: 160,
                template: "#if(FileConfirm != null){#" + "<a href='#=FileConfirm#' style='text-align:center'><i class='glyphicon glyphicon-download'></i></a>" + "#}#",
                filterable: false,
                sortable: false
            },
            {
                field: "Description",
                title: "Mô tả công việc",
                width: 300
            },
            {
                field: "Status",
                title: "Trạng Thái",
                width: 150,
                values: statusWorkPlanDetail
            }

        ],
        dataBinding: function () {

        }
    });
</script>
