@model Entity.Kpi.WorkPlan
@if (Model == null)
{
    <h5 class="text-center">Không có kế hoạch nào!</h5>
}
else
{
    <div id="PieChartProcess" style="max-height: 250px"></div>
    <script type="text/javascript">
        var series = @Html.Raw(Json.Encode(ViewBag.PieChartModels));
        function CreatePieChart() {
            $("#PieChartProcess").kendoChart({
                title: {
                    position: "bottom",
                    text: "Tiến độ kế hoạch @Model.WorkPlanCode",
                    font:'font-size:13px'
                },
                legend: {
                    visible: false
                },
                chartArea: {
                    background: ""
                },
                seriesDefaults: {
                    labels: {
                        visible: false
                    }
                },
                series: [{
                    type: "pie",
                    overlay: {
                        gradient: "none"
                    },
                    data: series
                }],
                tooltip: {
                    visible: true,
                    template: "#= category # - #= kendo.format('{0:P}', percentage) #"
                }
            });
        }
        $(document).ready(CreatePieChart);
        $(document).bind("kendo:skinChange", CreatePieChart);
    </script>
}
