@model Entity.Kpi.WorkingNote

<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-2">
                        <label>Thời gian</label>
                    </div>
                    <div class="col-md-10">
                        <input type="hidden" readonly="readonly" value="@Model.WorkingNoteId" id="WorkingNoteId" class="form-control" />
                        <input type="text" readonly="readonly" value="@Model.CreateDate" id="CreateDate" class="form-control"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row padding-bottom-0">
                    <div class="col-md-2">
                        <label>Công việc thực hiện</label>
                    </div>
                    <div class="col-md-10">
                        <textarea class="form-control"  rows="3" id="TextNote" style="min-height: 160px">@Model.TextNote</textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="panel panel-default window-footer">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 ">
                <button class="btn btn-primary" id="btnSaveWorkingNote" style="float: right">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Lưu
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSaveWorkingNote").click(function() {

            var model = {
                CreateDate: $("#CreateDate").val(),
                TextNote: $("#TextNote").val(),
                WorkingNoteId: $("#WorkingNoteId").val()
            }
            $('#processing').show();
            $.ajax({
                type: 'POST',
                url: '/hrm/Home/SaveWorkingNoteMemory',
                data: JSON.stringify({
                    model: model
                }),
                contentType: 'application/json;charset=utf-8',
                success: function (response) {
                    $('#processing').hide();
                    if (response.Status === 0) {
                        $.msgBox({
                            title: "Hệ thống",
                            type: "error",
                            content: response.Message,
                            buttons: [{ value: "Đồng ý" }],
                            success: function () {
                            }
                        });
                    } else {
                        $.msgBox({
                            title: "Hệ thống",
                            type: "info",
                            content: response.Message,
                            buttons: [{ value: "Đồng ý" }],
                            success: function () {
                                CloseChildWindowModal();
                                GridCallback('#grdMainWorkingNote');
                            }
                        });
                    }
                }
            });
        });

    });
</script>
<script src="~/Areas/Hrm/JsAction/Home/explanation.js"></script>





