
<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div id="grdMainHolidayReason" event-dbclick="1"></div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <div class="box-action">
                    <button class="btn btn-primary btn-sm" id="btnCreateHolidayReason">
                        <i class="glyphicon glyphicon-plus"></i>
                        Thêm
                    </button>
                    <button class="btn btn-primary btn-sm" id="btnEditHolidayReason">
                        <i class="glyphicon glyphicon-edit"></i>
                        Sửa
                    </button>
                    <button class="btn btn-primary btn-sm" id="btnDeleteHolidayReason">
                        <i class="glyphicon glyphicon-trash"></i>
                        Xóa
                    </button>
                    <button class="btn btn-primary btn-sm" id="btnAddHolidayReason">
                        <i class="glyphicon glyphicon-floppy-saved"></i>
                        Chọn
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="~/Areas/Hrm/JsAction/HolidayReason/index.js"></script>




