@{
    ViewBag.Title = "Nhóm người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box-action">
                    <button class="btn btn-primary btn-sm" id="btnCreate">
                        <i class="glyphicon glyphicon-plus"></i>
                        Thêm
                    </button>
                    <button class="btn btn-primary btn-sm" id="btnEdit">
                        <i class="glyphicon glyphicon-edit"></i>
                        Sửa
                    </button>
                    <button class="btn btn-primary btn-sm" id="btnDelete">
                        <i class="glyphicon glyphicon-trash"></i>
                        Xóa
                    </button>
                    <button class="btn btn-primary btn-sm" id="btnSetFunction">
                        <i class="fa fa-wrench"></i>
                        Phân quyền
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="grdMain" event-dbclick="1"></div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Areas/System/JsAction/UserGroup/index.js"></script>
}
