<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="grdMain" event-dbclick='1'></div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary " id="btnCreate">
                    <i class="fa fa-plus"></i>
                    Thêm
                </button>
                <button class="btn btn-primary " id="btnEdit">
                    <i class="fa fa-edit"></i>
                    Sửa
                </button>
                <button class="btn btn-primary" id="btnDelete">
                    <i class="fa fa-trash"></i>
                    Xóa
                </button>
                <button class="btn btn-primary" id="btnAdd">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Chọn
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>
<script src="~/Areas/Hrm/JsAction/EducationLevel/index.js"></script>




